title: "Lectures"
description: "Lecture navigation service"
theme: minima
markdown: kramdown

plugins:
  - jekyll-relative-links

relative_links:
  enabled: true
  collections: false

defaults:
  - scope:
      path: ""
    values:
      layout: "page"
